* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
}

.navbar {
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#cartImg {
    width: 30px;
    height: 30px;
}

#counterCart {
    font-size: 30px;
}


#cartContainer {
    height: auto;
    width: 100%;
    gap: 2em;

}

.cartContent {
    height: 80px;
    display: flex;
    flex-direction: space-between;
    gap: 2em;
    padding: 10px;
}

.cartContent:hover {
    background-color: lightgray;
}

#cartContainer p {
    color: black;
    display: block;
}    

.price {
    font-weight: bold;
    text-align: center;
}

.deleteBtn {
    height: 35px;
    width: 35px;
}

.cartContent {
    color: #fff;
    border-bottom: #ccc;
}

.title {
    color: #fff;
    margin-top: 3em;
}

#cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    color: #fff;
    background-color: transparent;
    border-color: gray;
    width: 30em;
    height: auto;
    margin: 1em;
}


.card img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 10px;

}
